body {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background: radial-gradient(circle at center, #0f0f0f 0%, #000000 100%);
    color: #0ff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #000;
}

h1 {
    font-size: 3rem;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
}

.piano {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;
    padding: 20px;
    width: 70%;
    height: 40%;
    gap: 2%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0 0 30px #0ff;
}


.key {
    width: 80px;
    height: 220px;
    margin: 6px;
    font-size: 20px;
    font-weight: bold;
    background: #111111;
    color: #0ff;
    border: 2px solid #0ff;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.2s ease, background-color 0.3s;
    box-shadow: 0 0 8px #0ff, 0 0 16px #0ff inset;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15px;
    text-shadow: 0 0 6px #0ff;
}

/* Hover glow */
.key:hover {
    background: #0ff;
    color: #111;
    box-shadow: 0 0 10px #0ff, 0 0 30px #0ff;
    transform: scale(1.05);
}
.disable-hover:hover {
    background: #111111;
    color: inherit;
    box-shadow: 0 0 8px #0ff, 0 0 16px #0ff inset;
    transform: scale(1.0);
}

.enable-hover:hover {
    background: #0ff;
    color: #111;
    box-shadow: 0 0 10px #0ff, 0 0 30px #0ff;
    transform: scale(1.05);
}

/* Key press animation */
.key:active,
.key.pressed {
    background: #00faff;
    color: #000;
    box-shadow: 0 0 20px #00faff, 0 0 40px #00faff inset;
    transform: scale(0.95);
}

.about{
    margin-bottom: 10px;
}

.about span{
    color: yellow;
}

/* Responsive design */
@media (max-width: 768px) {
    .key {
        width: 60px;
        height: 160px;
        font-size: 16px;
    }

    h1 {
        font-size: 2rem;
    }
}
@media (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 1080px){
    body{
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .main{
        width: 100%;
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        
    }
    
    .piano{
        width: 140%;
        rotate: 90deg;
        flex-wrap: nowrap;
        height: 35%;
        padding: 0px 15px;
        /* background-color: red; */
        top: 50%;
        left: 50%;
        transform: translate(0%,50%);
    }
    .key{
        height: 220px;
    }
}